.rodalMask {
    background-color:transparent;
  }
  .button {
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 45;
    background-image: url('./img/close.svg');
    
  }
  