.container {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    position: fixed;
    background: linear-gradient(90deg, #ffffff,#ffffff,#d4caff);
    top:80px;
    border-radius: 10px;
}
.month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    text-align: center;
}
.table {
   text-align: center;
    padding: 5px;
    display: block;
        
}
.cell {
    min-width: 10px;
    height: 4px;
    background-color: transparent;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    
   
}
.today {
    min-width: 10px;
    height: 4px;
    background-color: #ceffbc;
   
}
.prev {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #d462a0;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    color:  white;
   
    
}
.next {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #d462a0;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    color:  white;
   
    
}
.wrapperButton {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.notice {
    color: red
}
p {
    color: black;
}
td {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
      
}
td:hover {
    background:linear-gradient(90deg, #e2ef54,#ff5c66,#6248d5);
}
tr {
    height: 8px;
    border: 1px solid #ddd;
}
.day {
    background-color: #77b4db;
}
.monthElem {
    cursor: pointer;
}
