.container {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.month {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.table {
    min-width: 700px;
    min-height: 450px;
    margin-top: 20px;
    border-collapse: collapse;
    table-layout: fixed; 
    background: linear-gradient(to right, #52c234, #061700);
    border: 1px solid #ddd;
    margin-top: 30px;
    
}
.cell {
    width: 30px;
    height: 80px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: transparent;
    }
.info {
    display: flex;
    justify-content: space-between;
}
.today {
    width: 30px;
    height: 80px;
    border: 1px solid #ddd;
    padding: 5px;
    background: linear-gradient(to right, #e65c00, #f9d423);
   
}
.prev {
    background-image: url('./img/back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
    
}
.next {
    background-image: url('./img/next.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    cursor: pointer;
    margin-right: 10px;
    
}
.wrapperButton {
    display: flex;
    align-items: center;
}
.event {
    background-image: url('./img/plus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    cursor: pointer;
    margin-right: 10px;
    
}
.notice {
    color: white;
    margin-top: 20px;
    overflow: hidden;
    padding: 5px;
    background-color: darkmagenta;
    border-radius: 5px;
}
p {
    color: black;
    margin: 0;
   
}
.pick {
    background-image: url('./img/timetable\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    cursor: pointer;
      
}
.currentDate {
    color: white;
    min-width: 120px;
    text-align: center;
}
.dateNumber {
    color: white;
}
.day {
    font-family: Qwitcher Grypen;
    color: white;
    font-size: 30px;
    font-weight: 700
}
tr{
    border: 1px solid #ddd;
}